[Desktop Entry]
Version=1.0
Type=Application
Name=xbindkeys
Comment=Custom keybindings
Exec=xbindkeys
StartupNotify=false
Terminal=false
NoDisplay=true
